*{
    margin:0;
    padding:0;
    border: 0;

 }
::placeholder{
    text-align: center;
}

.card{
    text-align: center;
    max-height: fit-content;
    width: fit-content;
    margin: 0 auto;
}
input{
    margin-left: 20px;
    /* width:700px; */
}
.alert-danger{
    background-color:#DC3545;
    margin: 0 auto;
    color:#fff;
    text-align: center;
    width: 100vh;
}
.alert-success{
    background-color:rgb(9, 145, 224);
    margin: 0 auto;
    color:#fff;
    text-align: center;
    width: 100vh;
}
#add-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
}

